/install-npm*.sh
.git*
/data
/output
/config.yaml
.idea
.dockerignore
Dockerfile*
/src
/test
/tests
/dist/test
/dist/tests
/dist/src/app*
/dist/src/article
/dist/src/main*
/dist/src/user-language
/dist/src/utility
